@import "scss/colors.scss";
@import "scss/variables.scss";

.container {
	padding: 80px 0;
	text-align: center;
	@media (min-width: $lg) {
		text-align: left;
	}
}

.imageContainer {
	img {
		width: 300px;
		object-fit: cover;
		border: 1px solid #4A4A4A;
		box-shadow: -20px 20px 0 0 $beige, -20px 20px 0 1px #4A4A4A;
		@media (max-width: $lg) {
			margin-bottom: 70px;
		}
	}
}

.textContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}