@import 'scss/colors.scss';
@import 'scss/variables.scss';
@import 'scss/fonts.scss';

.section {
	overflow: hidden;
	position: relative;
	text-align: center;
	@media (min-width: $lg) {
		text-align: left;
	}
}

.innerContainer {
	padding: 80px 30px;
	margin: 0 auto;
}

.beige {
	color: $beige;
}

.beigeBg {
	background-color: $beige;
}

.white {
	color: #fff;
}

.whiteBg {
	background-color: #fff
}

.title {
	margin-bottom: 25px;
}

.backgroundText {
    font-family: $cursive-font;
    font-style: italic;
    margin-left: -5vw;
    position: absolute;
    line-height: 62.5%;
    bottom: 0;
}